@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/sidebar.css";
@import "./styles/top-bar.css";
@import "./styles/chat.css";
@import "./styles/composer.css";
@import "./styles/debug.css";
@import "./styles/utilities.css";
